.grid-container {
  height: auto;
  display: grid;
  grid-template: repeat(3, 18vw) / repeat(4, 20vw);
  grid-template-areas:
    "experience experience experience experience"
    "language framework tools library"
    "education education education project";
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 3vw;
  display: flex;
  flex-direction: column;
}

.education-box {
  grid-area: education;
}

.language-box {
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  grid-area: language;
}

.framework-box {
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  grid-area: framework;
}

.library-box {
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  grid-area: library;
}

.tools-box {
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  grid-area: tools;
}

.experience1-box {
  border-right: none;
  grid-area: experience;
}

.project-box {
  grid-area: project;
}

.box-header {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
}

.box-content-links > a {
  cursor: pointer;
  transition-duration: 0.5s;
}

.box-content-links > a:hover {
  color: rgba(255, 255, 255, 1);
}

.box-content-container {
  display: flex;
}

.flex-box-content {
  color: rgba(255, 255, 255, 0.6);
  width: 50%;
  font-size: 15px;
  font-weight: 200;
}

.flex-box-content > h2 {
  font-size: 1rem;
  font-weight: 200;
  color: white;
}

#music-container {
  margin-top: 3rem;
  height: 20rem;
  width: 100%;
}

#music-title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
